{
    "openapi": "3.0.2",
    "info": {
        "title": "Customer Order",
        "description": "The Customer Order API enables you to create and manage utilities retailer specific needs, such as customer order creation. The API also allows you to configure customer order related objects, such as division, shipping conditions, sales processing status, and so on.",
        "version": ""
    },
    "servers": [
        {
            "url": "https://sandbox.api.sap.com:443/sapcloudforutilities/api/v1",
            "description": "Sandbox URL"
        },
        {
            "url": "https://{subaccount}.cfapps.{region}.hana.ondemand.com/api/v1",
            "description": "Customer Order API endpoint",
            "variables": {
                "subaccount": {
                    "default": "c4u-foundation-retailer-service"
                },
                "region": {
                    "default": "eu10"
                }
            }
        }
    ],
    "tags": [
        {
            "name": "Customer Order"
        },
        {
            "name": "Product"
        },
        {
            "name": "Sales Organization"
        },
        {
            "name": "Service Organization"
        },
        {
            "name": "Customizing and Configuration"
        },
        {
            "name": "Batch Requests"
        }
    ],
    "paths": {
        "/CustomerOrder": {
            "get": {
                "summary": "Retrieves customer orders.",
                "tags": [
                    "Customer Order"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "name": "$filter",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "id desc",
                                    "customerReferenceId",
                                    "customerReferenceId desc",
                                    "isExternallyPriced",
                                    "isExternallyPriced desc",
                                    "netAmount",
                                    "netAmount desc",
                                    "orderDate",
                                    "orderDate desc",
                                    "paymentReferences/token",
                                    "paymentReferences/token desc",
                                    "pricingDate",
                                    "pricingDate desc",
                                    "requestedFulfillmentDate",
                                    "requestedFulfillmentDate desc",
                                    "displayId",
                                    "displayId desc",
                                    "isBlocked",
                                    "isBlocked desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "customerReferenceId",
                                    "isExternallyPriced",
                                    "netAmount",
                                    "orderDate",
                                    "paymentReferences",
                                    "pricingDate",
                                    "requestedFulfillmentDate",
                                    "displayId",
                                    "isBlocked"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "cancellationStatus",
                                    "partners",
                                    "items",
                                    "notes",
                                    "orderReason",
                                    "paymentReferences/utilitiesCardType",
                                    "priceComponents",
                                    "salesAspect",
                                    "serviceAspect",
                                    "type",
                                    "distributionChannel",
                                    "division",
                                    "salesOrganization",
                                    "processingStatus"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved customer order",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "title": "Collection of CustomerOrder",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/API_EDOM_RETAILER.CustomerOrder"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Retrieves a list of all customer orders."
            },
            "post": {
                "summary": "Creates a customer order.",
                "tags": [
                    "Customer Order"
                ],
                "requestBody": {
                    "description": "New customer order",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/API_EDOM_RETAILER.CustomerOrder-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created customer order",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/API_EDOM_RETAILER.CustomerOrder"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Creates a customer order. If you don’t provide a value for the processing status attribute, a configured initial status value will be assigned."
            }
        },
        "/CustomerOrder({id})": {
            "parameters": [
                {
                    "description": "The unique identifier of the customer order.",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                }
            ],
            "get": {
                "summary": "Retrieves a customer order.",
                "tags": [
                    "Customer Order"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "customerReferenceId",
                                    "isExternallyPriced",
                                    "netAmount",
                                    "orderDate",
                                    "paymentReferences",
                                    "pricingDate",
                                    "requestedFulfillmentDate",
                                    "displayId",
                                    "isBlocked"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "cancellationStatus",
                                    "partners",
                                    "items",
                                    "notes",
                                    "orderReason",
                                    "paymentReferences/utilitiesCardType",
                                    "priceComponents",
                                    "salesAspect",
                                    "serviceAspect",
                                    "type",
                                    "distributionChannel",
                                    "division",
                                    "salesOrganization",
                                    "processingStatus"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved customer order",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/API_EDOM_RETAILER.CustomerOrder"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Retrieves a single customer order with a specific identifier."
            },
            "patch": {
                "summary": "Updates a customer order.",
                "tags": [
                    "Customer Order"
                ],
                "requestBody": {
                    "description": "New property values",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/API_EDOM_RETAILER.CustomerOrder-update"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Updates a single customer order with a specific identifier."
            }
        },
        "/CustomerOrder({id})/API_EDOM_RETAILER.close": {
            "post": {
                "summary": "Closes a customer order.",
                "tags": [
                    "Customer Order"
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Closes a single customer order with a specific identifier. This request will update the end of business date of the order, that is, the closed date or the date of payment. This date is considered as the reference date from which the residence and retention period is calculated for Data Retention Manager.",
                "parameters": [
                    {
                        "description": "The unique identifier of the customer order.",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "example": "01234567-89ab-cdef-0123-456789abcdef"
                        }
                    }
                ]
            }
        },
        "/CustomerOrder({id})/cancellationStatus": {
            "parameters": [
                {
                    "description": "The unique identifier of the customer order.",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                }
            ],
            "get": {
                "summary": "Retrieves cancellation status of a customer order.",
                "tags": [
                    "Customer Order"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "name",
                                    "descr",
                                    "code"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "texts",
                                    "localized"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved cancellation status",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/API_EDOM_RETAILER.SalesCancellationStatusCodes"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Retrieves cancellation status of a single customer order with a specific identifier."
            }
        },
        "/CustomerOrder({id})/partners": {
            "parameters": [
                {
                    "description": "The unique identifier of the customer order.",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                }
            ],
            "get": {
                "summary": "Retrieves customer order partners.",
                "tags": [
                    "Customer Order"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "name": "$filter",
                        "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "id desc",
                                    "address/building",
                                    "address/building desc",
                                    "address/floor",
                                    "address/floor desc",
                                    "address/door",
                                    "address/door desc",
                                    "address/careOf",
                                    "address/careOf desc",
                                    "address/streetPrefix1",
                                    "address/streetPrefix1 desc",
                                    "address/streetPrefix2",
                                    "address/streetPrefix2 desc",
                                    "address/street/name",
                                    "address/street/name desc",
                                    "address/streetSuffix1",
                                    "address/streetSuffix1 desc",
                                    "address/streetSuffix2",
                                    "address/streetSuffix2 desc",
                                    "address/houseNumber",
                                    "address/houseNumber desc",
                                    "address/houseNumberSupplement",
                                    "address/houseNumberSupplement desc",
                                    "address/town/name",
                                    "address/town/name desc",
                                    "address/district/name",
                                    "address/district/name desc",
                                    "address/secondaryRegion/name",
                                    "address/secondaryRegion/name desc",
                                    "address/tertiaryRegion/name",
                                    "address/tertiaryRegion/name desc",
                                    "address/postCode",
                                    "address/postCode desc",
                                    "address/postBoxIsWithoutNumber",
                                    "address/postBoxIsWithoutNumber desc",
                                    "address/companyPostalCode",
                                    "address/companyPostalCode desc",
                                    "address/deliveryServiceNumber",
                                    "address/deliveryServiceNumber desc",
                                    "address/additionalCityName",
                                    "address/additionalCityName desc",
                                    "address/alternative/town/name",
                                    "address/alternative/town/name desc",
                                    "address/alternative/district/name",
                                    "address/alternative/district/name desc",
                                    "address/alternative/secondaryRegion/name",
                                    "address/alternative/secondaryRegion/name desc",
                                    "address/alternative/tertiaryRegion/name",
                                    "address/alternative/tertiaryRegion/name desc",
                                    "address/alternative/postCode",
                                    "address/alternative/postCode desc",
                                    "address/alternative/deliveryServiceType",
                                    "address/alternative/deliveryServiceType desc",
                                    "address/alternative/deliveryServiceQualifier",
                                    "address/alternative/deliveryServiceQualifier desc",
                                    "address/alternative/deliveryServiceIdentifier",
                                    "address/alternative/deliveryServiceIdentifier desc",
                                    "address/coordinates/latitude",
                                    "address/coordinates/latitude desc",
                                    "address/coordinates/longitude",
                                    "address/coordinates/longitude desc",
                                    "address/coordinates/altitude",
                                    "address/coordinates/altitude desc",
                                    "address/phoneNumber",
                                    "address/phoneNumber desc",
                                    "address/faxNumber",
                                    "address/faxNumber desc",
                                    "address/emailAddress",
                                    "address/emailAddress desc",
                                    "address/endOfBusinessDate",
                                    "address/endOfBusinessDate desc",
                                    "address/maxDeletionDate",
                                    "address/maxDeletionDate desc",
                                    "address/isBlocked",
                                    "address/isBlocked desc",
                                    "businessPartnerId",
                                    "businessPartnerId desc",
                                    "main",
                                    "main desc",
                                    "personAddressDetails/firstName",
                                    "personAddressDetails/firstName desc",
                                    "personAddressDetails/middleName",
                                    "personAddressDetails/middleName desc",
                                    "personAddressDetails/lastName",
                                    "personAddressDetails/lastName desc",
                                    "personAddressDetails/secondLastName",
                                    "personAddressDetails/secondLastName desc",
                                    "personAddressDetails/initials",
                                    "personAddressDetails/initials desc",
                                    "personAddressDetails/formattedPersonName",
                                    "personAddressDetails/formattedPersonName desc",
                                    "personAddressDetails/building",
                                    "personAddressDetails/building desc",
                                    "personAddressDetails/floor",
                                    "personAddressDetails/floor desc",
                                    "personAddressDetails/door",
                                    "personAddressDetails/door desc",
                                    "personAddressDetails/careOf",
                                    "personAddressDetails/careOf desc",
                                    "personAddressDetails/streetPrefix1",
                                    "personAddressDetails/streetPrefix1 desc",
                                    "personAddressDetails/streetPrefix2",
                                    "personAddressDetails/streetPrefix2 desc",
                                    "personAddressDetails/street/name",
                                    "personAddressDetails/street/name desc",
                                    "personAddressDetails/streetSuffix1",
                                    "personAddressDetails/streetSuffix1 desc",
                                    "personAddressDetails/streetSuffix2",
                                    "personAddressDetails/streetSuffix2 desc",
                                    "personAddressDetails/houseNumber",
                                    "personAddressDetails/houseNumber desc",
                                    "personAddressDetails/houseNumberSupplement",
                                    "personAddressDetails/houseNumberSupplement desc",
                                    "personAddressDetails/town/name",
                                    "personAddressDetails/town/name desc",
                                    "personAddressDetails/district/name",
                                    "personAddressDetails/district/name desc",
                                    "personAddressDetails/secondaryRegion/name",
                                    "personAddressDetails/secondaryRegion/name desc",
                                    "personAddressDetails/tertiaryRegion/name",
                                    "personAddressDetails/tertiaryRegion/name desc",
                                    "personAddressDetails/postCode",
                                    "personAddressDetails/postCode desc",
                                    "personAddressDetails/postBoxIsWithoutNumber",
                                    "personAddressDetails/postBoxIsWithoutNumber desc",
                                    "personAddressDetails/companyPostalCode",
                                    "personAddressDetails/companyPostalCode desc",
                                    "personAddressDetails/deliveryServiceNumber",
                                    "personAddressDetails/deliveryServiceNumber desc",
                                    "personAddressDetails/additionalCityName",
                                    "personAddressDetails/additionalCityName desc",
                                    "personAddressDetails/alternative/town/name",
                                    "personAddressDetails/alternative/town/name desc",
                                    "personAddressDetails/alternative/district/name",
                                    "personAddressDetails/alternative/district/name desc",
                                    "personAddressDetails/alternative/secondaryRegion/name",
                                    "personAddressDetails/alternative/secondaryRegion/name desc",
                                    "personAddressDetails/alternative/tertiaryRegion/name",
                                    "personAddressDetails/alternative/tertiaryRegion/name desc",
                                    "personAddressDetails/alternative/postCode",
                                    "personAddressDetails/alternative/postCode desc",
                                    "personAddressDetails/alternative/deliveryServiceType",
                                    "personAddressDetails/alternative/deliveryServiceType desc",
                                    "personAddressDetails/alternative/deliveryServiceQualifier",
                                    "personAddressDetails/alternative/deliveryServiceQualifier desc",
                                    "personAddressDetails/alternative/deliveryServiceIdentifier",
                                    "personAddressDetails/alternative/deliveryServiceIdentifier desc",
                                    "personAddressDetails/coordinates/latitude",
                                    "personAddressDetails/coordinates/latitude desc",
                                    "personAddressDetails/coordinates/longitude",
                                    "personAddressDetails/coordinates/longitude desc",
                                    "personAddressDetails/coordinates/altitude",
                                    "personAddressDetails/coordinates/altitude desc",
                                    "personAddressDetails/endOfBusinessDate",
                                    "personAddressDetails/endOfBusinessDate desc",
                                    "personAddressDetails/maxDeletionDate",
                                    "personAddressDetails/maxDeletionDate desc",
                                    "personAddressDetails/isBlocked",
                                    "personAddressDetails/isBlocked desc",
                                    "plantPartner",
                                    "plantPartner desc",
                                    "contractAccountId",
                                    "contractAccountId desc",
                                    "isBlocked",
                                    "isBlocked desc"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "address",
                                    "businessPartnerId",
                                    "main",
                                    "personAddressDetails",
                                    "plantPartner",
                                    "contractAccountId",
                                    "isBlocked"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "up_",
                                    "address/street/ref",
                                    "address/town/ref",
                                    "address/district/ref",
                                    "address/primaryRegion",
                                    "address/secondaryRegion/ref",
                                    "address/tertiaryRegion/ref",
                                    "address/country",
                                    "address/alternative/town/ref",
                                    "address/alternative/district/ref",
                                    "address/alternative/primaryRegion",
                                    "address/alternative/secondaryRegion/ref",
                                    "address/alternative/tertiaryRegion/ref",
                                    "address/alternative/country",
                                    "address/alternative/deliveryType",
                                    "address/timeZone",
                                    "address/transportationZone",
                                    "address/taxJurisdiction",
                                    "businessPartner",
                                    "personAddressDetails/scriptCode",
                                    "personAddressDetails/formOfAddress",
                                    "personAddressDetails/academicTitle",
                                    "personAddressDetails/additionalAcademicTitle",
                                    "personAddressDetails/namePrefix",
                                    "personAddressDetails/additionalNamePrefix",
                                    "personAddressDetails/nameSuffix",
                                    "personAddressDetails/street/ref",
                                    "personAddressDetails/town/ref",
                                    "personAddressDetails/district/ref",
                                    "personAddressDetails/primaryRegion",
                                    "personAddressDetails/secondaryRegion/ref",
                                    "personAddressDetails/tertiaryRegion/ref",
                                    "personAddressDetails/country",
                                    "personAddressDetails/alternative/town/ref",
                                    "personAddressDetails/alternative/district/ref",
                                    "personAddressDetails/alternative/primaryRegion",
                                    "personAddressDetails/alternative/secondaryRegion/ref",
                                    "personAddressDetails/alternative/tertiaryRegion/ref",
                                    "personAddressDetails/alternative/country",
                                    "personAddressDetails/alternative/deliveryType",
                                    "personAddressDetails/timeZone",
                                    "personAddressDetails/transportationZone",
                                    "personAddressDetails/taxJurisdiction",
                                    "role"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved partners",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "title": "Collection of CustomerOrderPartners",
                                    "properties": {
                                        "@odata.count": {
                                            "$ref": "#/components/schemas/count"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/API_EDOM_RETAILER.CustomerOrderPartners"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Retrieves a list of all partners for a single customer order with a specific identifier."
            },
            "post": {
                "summary": "Creates a customer order partner.",
                "tags": [
                    "Customer Order"
                ],
                "requestBody": {
                    "description": "New partner",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/API_EDOM_RETAILER.CustomerOrderPartners-create"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created partner",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/API_EDOM_RETAILER.CustomerOrderPartners"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Creates a partner for a single customer order with a specific identifier."
            }
        },
        "/CustomerOrder({id})/partners('{id_1}')": {
            "parameters": [
                {
                    "description": "The unique identifier of the customer order.",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                },
                {
                    "description": "Identifier of the partner in context of the customer order.",
                    "in": "path",
                    "name": "id_1",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "maxLength": 40
                    }
                }
            ],
            "get": {
                "summary": "Retrieves a customer order partner.",
                "tags": [
                    "Customer Order"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "address",
                                    "businessPartnerId",
                                    "main",
                                    "personAddressDetails",
                                    "plantPartner",
                                    "contractAccountId",
                                    "isBlocked"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "up_",
                                    "address/street/ref",
                                    "address/town/ref",
                                    "address/district/ref",
                                    "address/primaryRegion",
                                    "address/secondaryRegion/ref",
                                    "address/tertiaryRegion/ref",
                                    "address/country",
                                    "address/alternative/town/ref",
                                    "address/alternative/district/ref",
                                    "address/alternative/primaryRegion",
                                    "address/alternative/secondaryRegion/ref",
                                    "address/alternative/tertiaryRegion/ref",
                                    "address/alternative/country",
                                    "address/alternative/deliveryType",
                                    "address/timeZone",
                                    "address/transportationZone",
                                    "address/taxJurisdiction",
                                    "businessPartner",
                                    "personAddressDetails/scriptCode",
                                    "personAddressDetails/formOfAddress",
                                    "personAddressDetails/academicTitle",
                                    "personAddressDetails/additionalAcademicTitle",
                                    "personAddressDetails/namePrefix",
                                    "personAddressDetails/additionalNamePrefix",
                                    "personAddressDetails/nameSuffix",
                                    "personAddressDetails/street/ref",
                                    "personAddressDetails/town/ref",
                                    "personAddressDetails/district/ref",
                                    "personAddressDetails/primaryRegion",
                                    "personAddressDetails/secondaryRegion/ref",
                                    "personAddressDetails/tertiaryRegion/ref",
                                    "personAddressDetails/country",
                                    "personAddressDetails/alternative/town/ref",
                                    "personAddressDetails/alternative/district/ref",
                                    "personAddressDetails/alternative/primaryRegion",
                                    "personAddressDetails/alternative/secondaryRegion/ref",
                                    "personAddressDetails/alternative/tertiaryRegion/ref",
                                    "personAddressDetails/alternative/country",
                                    "personAddressDetails/alternative/deliveryType",
                                    "personAddressDetails/timeZone",
                                    "personAddressDetails/transportationZone",
                                    "personAddressDetails/taxJurisdiction",
                                    "role"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved partner",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/API_EDOM_RETAILER.CustomerOrderPartners"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Retrieves a single customer order partner with a specific identifier."
            },
            "patch": {
                "summary": "Updates a customer order partner.",
                "tags": [
                    "Customer Order"
                ],
                "requestBody": {
                    "description": "New property values",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/API_EDOM_RETAILER.CustomerOrderPartners-update"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Updates a single customer order partner with a specific identifier."
            }
        },
        "/CustomerOrder({id})/partners('{id_1}')/address/street/ref": {
            "parameters": [
                {
                    "description": "The unique identifier of the customer order.",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                },
                {
                    "description": "Identifier of the partner in context of the customer order.",
                    "in": "path",
                    "name": "id_1",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "maxLength": 40
                    }
                }
            ],
            "get": {
                "summary": "Retrieves street of customer order partner.",
                "tags": [
                    "Customer Order"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "code"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved ref",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/sap.odm.common.address.StreetCodes"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Retrieves street of a single customer order partner with a specific identifier."
            }
        },
        "/CustomerOrder({id})/partners('{id_1}')/address/town/ref": {
            "parameters": [
                {
                    "description": "The unique identifier of the customer order.",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                },
                {
                    "description": "Identifier of the partner in context of the customer order.",
                    "in": "path",
                    "name": "id_1",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "maxLength": 40
                    }
                }
            ],
            "get": {
                "summary": "Retrieves town of customer order partner.",
                "tags": [
                    "Customer Order"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "code"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved ref",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/sap.odm.common.address.TownCodes"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Retrieves town of a single customer order partner with a specific identifier."
            }
        },
        "/CustomerOrder({id})/partners('{id_1}')/address/district/ref": {
            "parameters": [
                {
                    "description": "The unique identifier of the customer order.",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                },
                {
                    "description": "Identifier of the partner in context of the customer order.",
                    "in": "path",
                    "name": "id_1",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "maxLength": 40
                    }
                }
            ],
            "get": {
                "summary": "Retrieves district of customer order partner.",
                "tags": [
                    "Customer Order"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "code"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved ref",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/sap.odm.common.address.DistrictCodes"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Retrieves district of a single customer order partner with a specific identifier."
            }
        },
        "/CustomerOrder({id})/partners('{id_1}')/address/primaryRegion": {
            "parameters": [
                {
                    "description": "The unique identifier of the customer order.",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                },
                {
                    "description": "Identifier of the partner in context of the customer order.",
                    "in": "path",
                    "name": "id_1",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "maxLength": 40
                    }
                }
            ],
            "get": {
                "summary": "Retrieves primary region of customer order partner.",
                "tags": [
                    "Customer Order"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "code"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved primary region",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/sap.odm.common.address.CountrySubdivisionCodes"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Retrieves primary region of a single customer order partner with a specific identifier."
            }
        },
        "/CustomerOrder({id})/partners('{id_1}')/address/secondaryRegion/ref": {
            "parameters": [
                {
                    "description": "The unique identifier of the customer order.",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                },
                {
                    "description": "Identifier of the partner in context of the customer order.",
                    "in": "path",
                    "name": "id_1",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "maxLength": 40
                    }
                }
            ],
            "get": {
                "summary": "Retrieves secondary region of customer order partner.",
                "tags": [
                    "Customer Order"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "code"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved ref",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/sap.odm.common.address.SecondaryRegionCodes"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Retrieves secondary region of a single customer order partner with a specific identifier."
            }
        },
        "/CustomerOrder({id})/partners('{id_1}')/address/tertiaryRegion/ref": {
            "parameters": [
                {
                    "description": "The unique identifier of the customer order.",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                },
                {
                    "description": "Identifier of the partner in context of the customer order.",
                    "in": "path",
                    "name": "id_1",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "maxLength": 40
                    }
                }
            ],
            "get": {
                "summary": "Retrieves tertiary region of customer order partner.",
                "tags": [
                    "Customer Order"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "code"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved ref",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/sap.odm.common.address.TertiaryRegionCodes"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Retrieves tertiary region of a single customer order partner with a specific identifier."
            }
        },
        "/CustomerOrder({id})/partners('{id_1}')/address/country": {
            "parameters": [
                {
                    "description": "The unique identifier of the customer order.",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                },
                {
                    "description": "Identifier of the partner in context of the customer order.",
                    "in": "path",
                    "name": "id_1",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "maxLength": 40
                    }
                }
            ],
            "get": {
                "summary": "Retrieves country/region of customer order partner.",
                "tags": [
                    "Customer Order"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "name",
                                    "descr",
                                    "changeType",
                                    "code"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "currency",
                                    "texts",
                                    "localized"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved country",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/API_EDOM_RETAILER.CountryCodes"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Retrieves country/region of a single customer order partner with a specific identifier."
            }
        },
        "/CustomerOrder({id})/partners('{id_1}')/address/alternative/town/ref": {
            "parameters": [
                {
                    "description": "The unique identifier of the customer order.",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                },
                {
                    "description": "Identifier of the partner in context of the customer order.",
                    "in": "path",
                    "name": "id_1",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "maxLength": 40
                    }
                }
            ],
            "get": {
                "summary": "Retrieves alternative town of customer order partner.",
                "tags": [
                    "Customer Order"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "code"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved ref",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/sap.odm.common.address.TownCodes"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Retrieves alternative town of a single customer order partner with a specific identifier."
            }
        },
        "/CustomerOrder({id})/partners('{id_1}')/address/alternative/district/ref": {
            "parameters": [
                {
                    "description": "The unique identifier of the customer order.",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                },
                {
                    "description": "Identifier of the partner in context of the customer order.",
                    "in": "path",
                    "name": "id_1",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "maxLength": 40
                    }
                }
            ],
            "get": {
                "summary": "Retrieves alternative district of customer order partner.",
                "tags": [
                    "Customer Order"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "code"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved ref",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/sap.odm.common.address.DistrictCodes"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Retrieves alternative district of a single customer order partner with a specific identifier."
            }
        },
        "/CustomerOrder({id})/partners('{id_1}')/address/alternative/primaryRegion": {
            "parameters": [
                {
                    "description": "The unique identifier of the customer order.",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                },
                {
                    "description": "Identifier of the partner in context of the customer order.",
                    "in": "path",
                    "name": "id_1",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "maxLength": 40
                    }
                }
            ],
            "get": {
                "summary": "Retrieves alternative primary region of customer order partner.",
                "tags": [
                    "Customer Order"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "code"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved primary region",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/sap.odm.common.address.CountrySubdivisionCodes"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Retrieves alternative primary region of a single customer order partner with a specific identifier."
            }
        },
        "/CustomerOrder({id})/partners('{id_1}')/address/alternative/secondaryRegion/ref": {
            "parameters": [
                {
                    "description": "The unique identifier of the customer order.",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                },
                {
                    "description": "Identifier of the partner in context of the customer order.",
                    "in": "path",
                    "name": "id_1",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "maxLength": 40
                    }
                }
            ],
            "get": {
                "summary": "Retrieves alternative secondary region of customer order partner.",
                "tags": [
                    "Customer Order"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "code"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved ref",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/sap.odm.common.address.SecondaryRegionCodes"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Retrieves alternative secondary region of a single customer order partner with a specific identifier."
            }
        },
        "/CustomerOrder({id})/partners('{id_1}')/address/alternative/tertiaryRegion/ref": {
            "parameters": [
                {
                    "description": "The unique identifier of the customer order.",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                },
                {
                    "description": "Identifier of the partner in context of the customer order.",
                    "in": "path",
                    "name": "id_1",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "maxLength": 40
                    }
                }
            ],
            "get": {
                "summary": "Retrieves alternative tertiary region of customer order partner.",
                "tags": [
                    "Customer Order"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "code"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved ref",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/sap.odm.common.address.TertiaryRegionCodes"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Retrieves alternative tertiary region of a single customer order partner with a specific identifier."
            }
        },
        "/CustomerOrder({id})/partners('{id_1}')/address/alternative/country": {
            "parameters": [
                {
                    "description": "The unique identifier of the customer order.",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                },
                {
                    "description": "Identifier of the partner in context of the customer order.",
                    "in": "path",
                    "name": "id_1",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "maxLength": 40
                    }
                }
            ],
            "get": {
                "summary": "Retrieves alternative country/region of customer order partner.",
                "tags": [
                    "Customer Order"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "name",
                                    "descr",
                                    "changeType",
                                    "code"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "currency",
                                    "texts",
                                    "localized"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved country",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/API_EDOM_RETAILER.CountryCodes"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Retrieves alternative country/region of a single customer order partner with a specific identifier."
            }
        },
        "/CustomerOrder({id})/partners('{id_1}')/address/alternative/deliveryType": {
            "parameters": [
                {
                    "description": "The unique identifier of the customer order.",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                },
                {
                    "description": "Identifier of the partner in context of the customer order.",
                    "in": "path",
                    "name": "id_1",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "maxLength": 40
                    }
                }
            ],
            "get": {
                "summary": "Retrieves alternative delivery type for customer order partner.",
                "tags": [
                    "Customer Order"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "code"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved delivery type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/sap.odm.common.address.DeliveryTypeCodes"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Retrieves alternative delivery type for a single customer order partner with a specific identifier."
            }
        },
        "/CustomerOrder({id})/partners('{id_1}')/address/timeZone": {
            "parameters": [
                {
                    "description": "The unique identifier of the customer order.",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                },
                {
                    "description": "Identifier of the partner in context of the customer order.",
                    "in": "path",
                    "name": "id_1",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "maxLength": 40
                    }
                }
            ],
            "get": {
                "summary": "Retrieves time zone for customer order partner.",
                "tags": [
                    "Customer Order"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "code"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved time zone",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/sap.odm.common.TimeZoneCodes"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Retrieves time zone for a single customer order partner with a specific identifier."
            }
        },
        "/CustomerOrder({id})/partners('{id_1}')/address/transportationZone": {
            "parameters": [
                {
                    "description": "The unique identifier of the customer order.",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                },
                {
                    "description": "Identifier of the partner in context of the customer order.",
                    "in": "path",
                    "name": "id_1",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "maxLength": 40
                    }
                }
            ],
            "get": {
                "summary": "Retrieve transportation zone of a customer order.",
                "tags": [
                    "Customer Order"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "code"
                                ]
                            }
                        }
                    },
                    {
                        "name": "$expand",
                        "description": "Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "country"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved transportation zone",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/sap.odm.logistics.TransportationZoneCodes"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/CustomerOrder({id})/partners('{id_1}')/address/taxJurisdiction": {
            "parameters": [
                {
                    "description": "The unique identifier of the customer order.",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                },
                {
                    "description": "Identifier of the partner in context of the customer order.",
                    "in": "path",
                    "name": "id_1",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "maxLength": 40
                    }
                }
            ],
            "get": {
                "summary": "Retrieve tax jurisdiction of a customer order.",
                "tags": [
                    "Customer Order"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "code"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved tax jurisdiction",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/sap.odm.finance.TaxJurisdictionCodes"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            }
        },
        "/CustomerOrder({id})/partners('{id_1}')/businessPartner": {
            "parameters": [
                {
                    "description": "The unique identifier of the customer order.",
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "format": "uuid",
                        "example": "01234567-89ab-cdef-0123-456789abcdef"
                    }
                },
                {
                    "description": "Identifier of the partner in context of the customer order.",
                    "in": "path",
                    "name": "id_1",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "maxLength": 40
                    }
                }
            ],
            "get": {
                "summary": "Retrieve business partner of a customer order.",
                "tags": [
                    "Customer Order"
                ],
                "parameters": [
                    {
                        "name": "$select",
                        "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
                        "in": "query",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved business partner",
                        "content": {
                            "application/json": {
                                "schema": {
[...]
